[submodule ".registry"]
	path = .registry
	url = https://github.com/kwb-r/universe
	branch = HEAD
[submodule "RODBC"]
	path = RODBC
	url = https://github.com/cran/RODBC
	branch = 1.3-16
	registered = false
[submodule "algoliar"]
	path = algoliar
	url = https://github.com/KWB-R/algoliar
[submodule "aquanes.report"]
	path = aquanes.report
	url = https://github.com/KWB-R/aquanes.report
[submodule "aws.s3"]
	path = aws.s3
	url = https://github.com/cloudyr/aws.s3
	branch = v0.3.12
	registered = false
[submodule "codemetar"]
	path = codemetar
	url = https://github.com/ropensci/codemetar
	branch = v0.3.0
	registered = false
[submodule "dwc.ar4gw"]
	path = dwc.ar4gw
	url = https://github.com/KWB-R/dwc.ar4gw
[submodule "dwc.wells"]
	path = dwc.wells
	url = https://github.com/KWB-R/dwc.wells
[submodule "fakin.path.app"]
	path = fakin.path.app
	url = https://github.com/KWB-R/fakin.path.app
[submodule "fhpredict"]
	path = fhpredict
	url = https://github.com/KWB-R/fhpredict
[submodule "flextreat.hydrus1d"]
	path = flextreat.hydrus1d
	url = https://github.com/KWB-R/flextreat.hydrus1d
[submodule "geosalz.phreeqc"]
	path = geosalz.phreeqc
	url = https://github.com/KWB-R/geosalz.phreeqc
[submodule "ibathwater"]
	path = ibathwater
	url = https://github.com/KWB-R/ibathwater
[submodule "keys.lid"]
	path = keys.lid
	url = https://github.com/KWB-R/keys.lid
[submodule "kwb.abimo"]
	path = kwb.abimo
	url = https://github.com/KWB-R/kwb.abimo
[submodule "kwb.barplot"]
	path = kwb.barplot
	url = https://github.com/KWB-R/kwb.barplot
[submodule "kwb.base"]
	path = kwb.base
	url = https://github.com/KWB-R/kwb.base
[submodule "kwb.budget"]
	path = kwb.budget
	url = https://github.com/KWB-R/kwb.budget
[submodule "kwb.code"]
	path = kwb.code
	url = https://github.com/KWB-R/kwb.code
[submodule "kwb.context"]
	path = kwb.context
	url = https://github.com/KWB-R/kwb.context
[submodule "kwb.datetime"]
	path = kwb.datetime
	url = https://github.com/KWB-R/kwb.datetime
[submodule "kwb.db"]
	path = kwb.db
	url = https://github.com/KWB-R/kwb.db
[submodule "kwb.default"]
	path = kwb.default
	url = https://github.com/KWB-R/kwb.default
[submodule "kwb.demeau"]
	path = kwb.demeau
	url = https://github.com/KWB-R/kwb.demeau
[submodule "kwb.dswt"]
	path = kwb.dswt
	url = https://github.com/KWB-R/kwb.dswt
[submodule "kwb.dwa.m150"]
	path = kwb.dwa.m150
	url = https://github.com/KWB-R/kwb.dwa.m150
[submodule "kwb.dwd"]
	path = kwb.dwd
	url = https://github.com/KWB-R/kwb.dwd
[submodule "kwb.dygraph"]
	path = kwb.dygraph
	url = https://github.com/KWB-R/kwb.dygraph
[submodule "kwb.en13508.2"]
	path = kwb.en13508.2
	url = https://github.com/KWB-R/kwb.en13508.2
[submodule "kwb.endnote"]
	path = kwb.endnote
	url = https://github.com/KWB-R/kwb.endnote
[submodule "kwb.epanet"]
	path = kwb.epanet
	url = https://github.com/KWB-R/kwb.epanet
[submodule "kwb.event"]
	path = kwb.event
	url = https://github.com/KWB-R/kwb.event
[submodule "kwb.fakin"]
	path = kwb.fakin
	url = https://github.com/KWB-R/kwb.fakin
[submodule "kwb.fcr"]
	path = kwb.fcr
	url = https://github.com/KWB-R/kwb.fcr
[submodule "kwb.file"]
	path = kwb.file
	url = https://github.com/KWB-R/kwb.file
[submodule "kwb.fisbroker"]
	path = kwb.fisbroker
	url = https://github.com/KWB-R/kwb.fisbroker
[submodule "kwb.flusshygiene"]
	path = kwb.flusshygiene
	url = https://github.com/KWB-R/kwb.flusshygiene
[submodule "kwb.flusshygiene.app"]
	path = kwb.flusshygiene.app
	url = https://github.com/KWB-R/kwb.flusshygiene.app
[submodule "kwb.geosalz"]
	path = kwb.geosalz
	url = https://github.com/KWB-R/kwb.geosalz
[submodule "kwb.gocr"]
	path = kwb.gocr
	url = https://github.com/KWB-R/kwb.gocr
[submodule "kwb.graph"]
	path = kwb.graph
	url = https://github.com/KWB-R/kwb.graph
[submodule "kwb.hantush"]
	path = kwb.hantush
	url = https://github.com/KWB-R/kwb.hantush
[submodule "kwb.heatsine"]
	path = kwb.heatsine
	url = https://github.com/KWB-R/kwb.heatsine
[submodule "kwb.heatsine.opencpu"]
	path = kwb.heatsine.opencpu
	url = https://github.com/KWB-R/kwb.heatsine.opencpu
[submodule "kwb.hydrus1d"]
	path = kwb.hydrus1d
	url = https://github.com/KWB-R/kwb.hydrus1d
[submodule "kwb.impetus"]
	path = kwb.impetus
	url = https://github.com/KWB-R/kwb.impetus
[submodule "kwb.infoworks"]
	path = kwb.infoworks
	url = https://github.com/KWB-R/kwb.infoworks
[submodule "kwb.iview"]
	path = kwb.iview
	url = https://github.com/KWB-R/kwb.iview
[submodule "kwb.kuras"]
	path = kwb.kuras
	url = https://github.com/KWB-R/kwb.kuras
[submodule "kwb.kuras.db"]
	path = kwb.kuras.db
	url = https://github.com/KWB-R/kwb.kuras.db
[submodule "kwb.lca"]
	path = kwb.lca
	url = https://github.com/KWB-R/kwb.lca
[submodule "kwb.logger"]
	path = kwb.logger
	url = https://github.com/KWB-R/kwb.logger
[submodule "kwb.matomo"]
	path = kwb.matomo
	url = https://github.com/KWB-R/kwb.matomo
[submodule "kwb.mia.evalCritO2"]
	path = kwb.mia.evalCritO2
	url = https://github.com/KWB-R/kwb.mia.evalCritO2
[submodule "kwb.mia.iw"]
	path = kwb.mia.iw
	url = https://github.com/KWB-R/kwb.mia.iw
[submodule "kwb.miacso"]
	path = kwb.miacso
	url = https://github.com/KWB-R/kwb.miacso
[submodule "kwb.misa"]
	path = kwb.misa
	url = https://github.com/KWB-R/kwb.misa
[submodule "kwb.misc"]
	path = kwb.misc
	url = https://github.com/KWB-R/kwb.misc
[submodule "kwb.ml"]
	path = kwb.ml
	url = https://github.com/KWB-R/kwb.ml
[submodule "kwb.monitoring"]
	path = kwb.monitoring
	url = https://github.com/KWB-R/kwb.monitoring
[submodule "kwb.nextcloud"]
	path = kwb.nextcloud
	url = https://github.com/KWB-R/kwb.nextcloud
[submodule "kwb.odm"]
	path = kwb.odm
	url = https://github.com/KWB-R/kwb.odm
[submodule "kwb.odmx"]
	path = kwb.odmx
	url = https://github.com/KWB-R/kwb.odmx
[submodule "kwb.ogre"]
	path = kwb.ogre
	url = https://github.com/KWB-R/kwb.ogre
[submodule "kwb.ogre.model"]
	path = kwb.ogre.model
	url = https://github.com/KWB-R/kwb.ogre.model
[submodule "kwb.orcid"]
	path = kwb.orcid
	url = https://github.com/KWB-R/kwb.orcid
[submodule "kwb.package"]
	path = kwb.package
	url = https://github.com/KWB-R/kwb.package
[submodule "kwb.pathdict"]
	path = kwb.pathdict
	url = https://github.com/KWB-R/kwb.pathdict
[submodule "kwb.pilot"]
	path = kwb.pilot
	url = https://github.com/KWB-R/kwb.pilot
[submodule "kwb.pkgbuild"]
	path = kwb.pkgbuild
	url = https://github.com/KWB-R/kwb.pkgbuild
[submodule "kwb.pkgstatus"]
	path = kwb.pkgstatus
	url = https://github.com/KWB-R/kwb.pkgstatus
[submodule "kwb.plot"]
	path = kwb.plot
	url = https://github.com/KWB-R/kwb.plot
[submodule "kwb.prep"]
	path = kwb.prep
	url = https://github.com/KWB-R/kwb.prep
[submodule "kwb.pubs"]
	path = kwb.pubs
	url = https://github.com/KWB-R/kwb.pubs
[submodule "kwb.python"]
	path = kwb.python
	url = https://github.com/KWB-R/kwb.python
[submodule "kwb.qmra"]
	path = kwb.qmra
	url = https://github.com/KWB-R/kwb.qmra
[submodule "kwb.quantum"]
	path = kwb.quantum
	url = https://github.com/KWB-R/kwb.quantum
[submodule "kwb.rain"]
	path = kwb.rain
	url = https://github.com/KWB-R/kwb.rain
[submodule "kwb.read"]
	path = kwb.read
	url = https://github.com/KWB-R/kwb.read
[submodule "kwb.readxl"]
	path = kwb.readxl
	url = https://github.com/KWB-R/kwb.readxl
[submodule "kwb.resilience"]
	path = kwb.resilience
	url = https://github.com/KWB-R/kwb.resilience
[submodule "kwb.satellite"]
	path = kwb.satellite
	url = https://github.com/KWB-R/kwb.satellite
[submodule "kwb.site"]
	path = kwb.site
	url = https://github.com/KWB-R/kwb.site
[submodule "kwb.svn"]
	path = kwb.svn
	url = https://github.com/KWB-R/kwb.svn
[submodule "kwb.swmm"]
	path = kwb.swmm
	url = https://github.com/KWB-R/kwb.swmm
[submodule "kwb.test"]
	path = kwb.test
	url = https://github.com/KWB-R/kwb.test
[submodule "kwb.twitter"]
	path = kwb.twitter
	url = https://github.com/KWB-R/kwb.twitter
[submodule "kwb.ucode"]
	path = kwb.ucode
	url = https://github.com/KWB-R/kwb.ucode
[submodule "kwb.umberto"]
	path = kwb.umberto
	url = https://github.com/KWB-R/kwb.umberto
[submodule "kwb.utils"]
	path = kwb.utils
	url = https://github.com/KWB-R/kwb.utils
[submodule "kwb.virtualdub"]
	path = kwb.virtualdub
	url = https://github.com/KWB-R/kwb.virtualdub
[submodule "kwb.vs2dh"]
	path = kwb.vs2dh
	url = https://github.com/KWB-R/kwb.vs2dh
[submodule "kwb.wtaq"]
	path = kwb.wtaq
	url = https://github.com/KWB-R/kwb.wtaq
[submodule "kwbGompitz"]
	path = kwbGompitz
	url = https://github.com/KWB-R/kwbGompitz
[submodule "odbc32"]
	path = odbc32
	url = https://github.com/hsonne/odbc32
	branch = r3.0.0
	registered = false
[submodule "pathlist"]
	path = pathlist
	url = https://github.com/hsonne/pathlist
	registered = false
[submodule "pkgmeta"]
	path = pkgmeta
	url = https://github.com/KWB-R/pkgmeta
[submodule "pkgnet"]
	path = pkgnet
	url = https://github.com/uptake/pkgnet
	branch = d1e974de299d46e71b082e027a71b8b254edc9b2
	registered = false
[submodule "qmra.db"]
	path = qmra.db
	url = https://github.com/KWB-R/qmra.db
[submodule "r2q"]
	path = r2q
	url = https://github.com/KWB-R/r2q
[submodule "r2r"]
	path = r2r
	url = https://github.com/vh-d/r2r
	registered = false
[submodule "rorcid"]
	path = rorcid
	url = https://github.com/ropensci/rorcid
	registered = false
[submodule "sema.berlin.utils"]
	path = sema.berlin.utils
	url = https://github.com/KWB-R/sema.berlin.utils
[submodule "sftp"]
	path = sftp
	url = https://github.com/stenevang/sftp
	registered = false
[submodule "swmmr"]
	path = swmmr
	url = https://github.com/hsonne/swmmr
	branch = mydev
	registered = false
[submodule "urbanAnnualRunoff"]
	path = urbanAnnualRunoff
	url = https://github.com/KWB-R/urbanAnnualRunoff
[submodule "wasserportal"]
	path = wasserportal
	url = https://github.com/KWB-R/wasserportal
[submodule "wordcloud2"]
	path = wordcloud2
	url = https://github.com/Lchiffon/wordcloud2
	registered = false
